<div class="gallery-container">
    <h1 class="gallery-title">Galeria de Imagens</h1>

    @if (imagens.length > 0) {
    <div class="gallery-grid">
        @for (imagem of imagens; track imagem.key) {
        <div class="gallery-item">
            <img [src]="imagem.url" alt="{{ imagem.key }}" class="gallery-image" />

            <a (click)="openModal(imagem.url)" class="gallery-overlay">
                <span class="overlay-text">Visualizar</span>
            </a>

            <button (click)="openDetailsModal(imagem)" class="details-button">
                <b>Ver Detalhes</b>
            </button>
        </div>
        }
    </div>
    } @else {
    <div class="no-images-text">
        Nenhuma imagem encontrada.
    </div>
    }

    @if (isModalOpen) {
    <div class="image-modal">
        <div class="modal-content">
            <img [src]="selectedImageUrl" alt="Imagem em tela cheia" class="modal-image" />
            <button (click)="closeModal()" class="modal-close-button">&times;</button>
        </div>
    </div>
    }

    @if (isDetailsModalOpen) {
    <div class="details-modal" (click)="closeDetailsModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <button (click)="closeDetailsModal()" class="modal-close-button" aria-label="Fechar">&times;</button>
            <h6 class="modal-title" style="font-size: 1.1em;">Detalhes da Imagem</h6>
            <div class="modal-body">
                <p><strong>Nome:</strong> {{ selectedImage?.key }}</p>
                <p><strong>Formato:</strong> {{ selectedImage?.format }}</p>
            </div>
            <button (click)="closeDetailsModal()" class="close-modal-btn">Fechar</button>
        </div>
    </div>
    }
</div>