// Resetar margens e paddings globais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // Fonte global
  body {
    font-family: 'Roboto', sans-serif; // Fonte estilosa
    background-color: #f7fafc; // Cor de fundo suave para a página
    color: #333; // Cor padrão de texto
  }
  
  // App Container
  .app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    background-color: #333;
    padding: 1rem 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between; /* Espaçar logo/brand e menu */
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
  }
  
  .logo-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-brand img {
    margin-right: 1rem; /* Espaço entre logo e o texto */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  
  .navbar-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
      color: #ccc;
    }
  }
  
  
  // Main Content
  .main-content {
    flex-grow: 1;
    padding: 2rem; // Adicionar padding ao conteúdo principal
    background-color: #f7fafc;
  }
  
  // Footer
  .footer {
    background-color: #333;
    padding: 1rem;
    text-align: center;
    color: white;
  }
