<div class="app-container">
  <!-- Navbar com fundo preto #333 -->
  <nav class="navbar">
    <div class="navbar-container">
      <div class="logo-brand">
        <img src="assets/logo-flicker.png" width="70px" alt="Logo">
        <a href="#" class="navbar-brand">Angular + AWS S3</a>
      </div>
      <ul class="navbar-menu">
        <li><a routerLink="/ver-imagens" class="navbar-link"><b>Ver Imagens</b></a></li>
        <li><a routerLink="/upload" class="navbar-link"><b>Upload de Imagens</b></a></li>
      </ul>
    </div>
  </nav>
  

  <!-- Main Content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer com fundo preto #333 -->
  <footer class="footer">
    <b>© 2024 Angular + AWS S3 - Todos os direitos reservados</b>
  </footer>
</div>
